/* Color Theme Swatches in Hex */
$IKEAOrganising-1-hex: #4804D9;
$IKEAOrganising-2-hex: #A0B9D9;
$IKEAOrganising-3-hex: #CEE4F2;
$IKEAOrganising-4-hex: #BF9445;
$IKEAOrganising-5-hex: #A6702E;
$IKEAOrganising-6-hex: #5d3202;
$IKEAOrganising-7-hex: #e5e7f5;